@* Generator: WebPage *@
@using Rabbit
@{
    
    ((IList<Tuple<string, string>>)PageData["BreadCrumbs"])
        .Add(Tuple.Create<string, string>("Rabbit Admin", "/_Admin/Rabbit"));

    var adminmenu = SiteEngine.RunHook("get_admin_menu", new List<string>()) as List<string>;   
}

<style type="text/css">
    h2{margin-top:30px; margin-bottom:20px;}
    ul.adminmenu, ul.adminmenu li{margin-left:10px;margin-bottom:10px;}
</style>
<h1>Rabbit Framework Administration</h1>
<p>Rabbit Framework supports modules, plug-ins and templates. For more information, 
please visit <a href="http://rabbit.codeplex.com">Rabbit Framework</a>.</p>

<div style="float:left;padding-left:10px;">
<h2>Admin Links</h2>
    <ul class="adminmenu">
    <li><a href="/_Admin/Rabbit/Test">Unit Test</a></li>
    <li><a href="/_Admin/Rabbit/CodeGen">Generate Code</a></li>
@if (adminmenu.Count() > 0)
{ 
    foreach(var menu in adminmenu)
    {
        if(menu.Contains('|'))
        {
            var ss = menu.Split('|');
            <li class="admin-menu"><a href="@Href(ss[1])">@ss[0]</a></li>
        }
    } 
}
    </ul> 
</div> 

