@{
    var tag = Page.Tag as string;
    dynamic list = SiteEngine.RunHook("get_pages_by_tag", tag);
}
<ul>
@foreach (dynamic page in list)
{
    <li class="article-title"><a href="/Pages/@page.Id">@page.Title</a></li>
}   
</ul>
