@{  
    
}
<form method="post" action="/Pages/Save">
    <textarea name="Content" rows="10" cols="60">@Page.Content</textarea>
    @Html.Hidden("Name", @Page.Name)
    <p><input type="submit" value="Save" /></p>
</form>
