<p>Pages module allows to create, modify and delete site pages. The pages are stored under the App_Data folder. </p>

@if (Page.Model.List == null)
{ 
    <div>No pages found</div>
}
else
{ 
    <table>
    <tr></tr>
    @foreach (var page in Page.Model.List)
    {
        <tr>
        <td><a href="/Pages/@page.Id">@page.Title</a></td>
        <td><a href="/Pages/Edit/@page.Id">Edit</a></td>
        <td><a href="/Pages/Delete/@page.Id">Delete</a></td>
        </tr>
    }
    </table>
    <a href="/Pages/New">Create Page</a>
}
