body
{
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    color: #696969;
}

a:link, a:visited
{
    color: #33a;
    text-decoration: none;
}

a:hover
{
    color: #a33;
    text-decoration: underline;
}

/* HEADINGS   
----------------------------------------------------------*/
h1
{
    float: left;
    font-weight: bold;
    line-height: 2em;
    font-size: 28px; 
    text-shadow: 1px 1px 2px #111;
    margin-left:20px;
}
h2
{
    font-size: 1.5em;
    color: #696969;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 30px;
}
h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
#header
{
    margin-top:60px;
    margin-bottom:-30px;
}
#content
{   
    min-height:420px;    
}
#footer
{
    margin-top:20px;
    text-align: right;
    font-size: .9em;
}


/* Login Display  
----------------------------------------------------------*/
#login
{
    color: #000;
}

#login li
{
    margin: 0;
    display: inline;
    list-style: none;
    padding-left: 5px;
}

/* Menu   
----------------------------------------------------------*/
ul#menu
{
    margin-top:22px;
    float:right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li a
{
    padding: 2px 40px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #fff;
    color: #666; /*CSS3 properties*/
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover
{
    background-color: #eee;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #999;
    text-decoration: none;
    color: #fff;
}

ul#menu li.selected a
{
    background-color: #eee;
    /*color: #fff;*/
}

/* forms   
----------------------------------------------------------*/
fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset legend
{
    font-size: 1.1em;
    font-weight: bold;
    padding: 2px 4px 8px 4px;
}

fieldset ol
{
    padding: 0;
    list-style: none;
}

fieldset ol li
{
    padding-bottom: 5px;
}

fieldset label
{
    display: block;
}

fieldset label.checkbox
{
    display: inline;
}

fieldset input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 300px;
}

fieldset input[type="submit"]
{
    font-size: 1.2em;
    padding: 5px;
}

/* Information and errors  
----------------------------------------------------------*/
.message
{
    clear: both;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 15px; /*CSS3 properties*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
}

.info
{
    background: #bde5f8;
    color: #00529b;
}

.error
{
    background: #ffe4e4;
    color: #be3e16;
}

.success
{
    background: #dff2bf;
    color: #4f8a10;
}

input[type="text"].error-field, input[type="password"].error-field
{
    border: solid 1px #be3e16;
    background-color: #ffe4e4;
}
.home
{
    background-color:#eee;
}
#innerpage
{
    background-color:#ddd;
    margin-top:1px;
}
#color-block
{
    width:620px;
    height:420px;
    background-color:#9eaebe;
    background-image: -moz-radial-gradient(center 45deg, circle, orange 0%, red 100%);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 270, from(orange), to(red));
}
article
{
    padding:20px;
}
.main
{
    /*background-color:#fff;*/
    min-height:420px;    
}
aside
{
    /*background-color:#d7f5fd;*/
    min-height:420px;    
}