@using Rabbit
@{  
    Layout = SiteEngine.RunHook("get_layout");
    Page.Title = "Welcome to my Web Site!";

    var test = SiteEngine.RunHook("TestHook");
   
}

@functions{
    
    [Hook]
    public static object TestFuncInDefaultPage(object o = null)
    {
        return "aaa";
    }
}
<p>
    This page loads layout through get_layout hook.
</p>
<p>
   @test
</p>
