@inherits Rabbit.WebForm

@{
    Page.Title = "Data Sync Demo";
    i = 100; // changed value during page execution
}

@functions{

    public int i = 10; // initial value
    public string s = "test string";
    public bool b = true;
    public decimal n = 45.6m;
    public object o = new { id = 1, name = "object" };
}

<h2>Data Synchronization</h2>
<p>Rabbit Web Form synchronizes data between C#, JavaScript and HTML markup.</p>

<ul>
<li>Public C# fields are serialized to JSON and accessible in JavaScript through webForm object.</li>
<li>JavaScript can modified webForm properties. webForm properties are pushed into C# fields during HTTP post.</li>
<li>HTML form inputs' are pushed into C# fields during form post.</li>
</ul>


<h2>Test data synchronization</h2>
<p>See how does it work from DemoDataSync.cshtml.</p>
<ol>
<li>C# assigned value 10 to public field i as public int i = 10;. JavaScript can get it as webForm.i</li>
<li>If JavaScript modified webForm.i = 20; In C# i will be set to 20 during post.</li>
<li>Value of HTML text input (name=s) will be pushed to C# field s during post. </li>
</ol>
<form method="post" action="">

    Enter new string: <input type="text" name="s" value="@s"/> <button id="button" value="test" data-runat="server">Save</button>

</form>
<br />
<link rel="stylesheet" href="http://code.jquery.com/qunit/git/qunit.css" type="text/css" media="screen">
<script type="text/javascript" src="http://code.jquery.com/qunit/git/qunit.js"></script>

<div id="qunit-testrunner-toolbar"></div>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture"></div>

<script type="text/javascript">
    $(function () {
        test("verify js webForm fields equal C# fields", function () {
            equals(webForm.i, @i);
            equals(webForm.n, @n);
            equals(webForm.b, true);
            equals(webForm.s, "@s");
            equals(webForm.o.id, 1);
            equals(webForm.o.name, "object");
        });

        @if(IsPost){
        <text>
        test("verify webForm.s equals the textbox and the C# field s", function () {
            equals(webForm.s, $("input[name='s']").val());    
        });
        </text>
        }

    });
</script>

