@inherits Rabbit.WebForm
@{
    Page.Title = "Web Form Demo";
}

@functions {
    public string name = "";
    string code_type = "";

    void button_click(string name)
    {
        this.name = name;
    }
    void code_type_click()
    {
        this.name = code_type;
    }
}

<h2>Web Form</h2>
<p>By inheriting from Rabbit.WebForm, web page becomes web form.</p>

<pre style="font-family: Consolas; font-size: 11px; color: black; background: white;"><span 
        style="background: yellow;">@@inherits&nbsp;</span>Rabbit.<span 
        style="color:#2b91af;">WebForm</span>
<span style="background: yellow;">@@{</span>
&nbsp;&nbsp;&nbsp;&nbsp;Page.Title&nbsp;=&nbsp;<span style="color:#a31515;">&quot;Web&nbsp;Form&nbsp;Demo&quot;</span>;
<span style="background: yellow;">}</span>
 
<span style="background: yellow;">@@functions&nbsp;{</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue;">public</span>&nbsp;<span style="color:blue;">string</span>&nbsp;name&nbsp;=&nbsp;<span 
        style="color:#a31515;">&quot;&quot;</span>;

&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue;">void</span>&nbsp;button_click()
&nbsp;&nbsp;&nbsp;&nbsp;{

&nbsp;&nbsp;&nbsp;&nbsp;}
<span style="background: yellow;">}</span></pre>
<pre style="font-family: Consolas; font-size: 11px; color: black; background: white;"><span 
        style="color:blue;">&lt;</span><span style="color:maroon;">form</span>&nbsp;<span 
        style="color:red;">method</span><span style="color:blue;">=&quot;post&quot;</span>&nbsp;<span 
        style="color:red;">action</span><span style="color:blue;">=&quot;&quot;&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;Enter&nbsp;something:&nbsp;<span style="color:blue;">&lt;</span><span style="color:maroon;">input</span>&nbsp;<span 
        style="color:red;">type</span><span style="color:blue;">=&quot;text&quot;</span>&nbsp;<span 
        style="color:red;">name</span><span style="color:blue;">=&quot;name&quot;</span>&nbsp;<span 
        style="color:red;">value</span><span style="color:blue;">=&quot;</span><span 
        style="background: yellow;">@@</span><span style="color:blue;">name&quot;/&gt;&lt;</span><span 
        style="color:maroon;">br</span>&nbsp;<span style="color:blue;">/&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue;">&lt;</span><span style="color:maroon;">button</span>&nbsp;<span 
        style="color:red;">id</span><span style="color:blue;">=&quot;button&quot;</span>&nbsp;<span 
        style="color:red;">value</span><span style="color:blue;">=&quot;test&quot;</span>&nbsp;<span 
        style="color:red;">data-runat</span><span style="color:blue;">=&quot;server&quot;&gt;&lt;/</span><span 
        style="color:maroon;">button</span><span style="color:blue;">&gt;</span>
<span style="color:blue;">&lt;/</span><span style="color:maroon;">form</span><span 
        style="color:blue;">&gt;</span></pre>

<h2>Test Web Form</h2>
<p>See how does it work from Demo_WebForm.cshtml.</p>
<ol>
<li>Attribute data-runat="server" triggers default server side event {element id}_click() upon element's onclick event.</li>
<li>Attribute data-runat="server-auto" triggers default server side event {element id}_click() upon element's onchange event.</li>
<li>Attribute data-server-event="button_click" defines server side event name.</li>
<li>Attribute data-server-event-arg="foo" passes parameter to server side event.</li>
<li>Post back can be triggered in JavaScript: webForm.postback(element), where the element's closest form will be posted. </li>
</ol>

<form method="post" action="">
    Enter something: <input type="text" name="name" value="@name"/><br />
    Result: <b><span id="msg">@name</span></b><br /><br />
    Button tests:
    <button id="button" value="test" 
            data-runat="server">Run Default Event</button>

    <button id="button2" value="test" 
            data-runat="server"
            data-server-event="button_click">Run Event Defined</button>

    <button id="button3" value="test" 
            data-runat="server"
            data-server-event="button_click"
            data-server-event-arg="foo">Run Event With Argument</button>

    <br /><br />
    Auto post back test:     
    <select id="code_type" name="code_type" data-runat="server-auto">
    <option>Web Form</option>
    <option>MVC</option>
    <option>Unit Test</option>
    </select>
    <br /><br />
    JavaScript post back test:
    <a id="button4" href="#">Click to post back</a><br />
</form>

<br />

<script type="text/javascript">

    $(function () {

        $("#button4").click(function () {
            webForm.name = $("input[name='name']").val();
            webForm.postback($(this));
        });

        $("#code_type").val('@code_type');

    });

</script> 

@if (IsPost)
{ 
    <text>   
    <link rel="stylesheet" href="http://code.jquery.com/qunit/git/qunit.css" type="text/css" media="screen">  
    <script type="text/javascript" src="http://code.jquery.com/qunit/git/qunit.js"></script>  
    
    <h2>Test Results</h2>
    <div id="qunit-testrunner-toolbar"></div>
    <ol id="qunit-tests"></ol>
    <div id="qunit-fixture"></div>

    <script type="text/javascript">
        $(function () {
            test("verify result after post", function () {
                var v1 = $("#msg").text();
                var v2 = $("input[name='name']").val();
                equals(v1, v2);
                equal(webForm.name, v1);
            });
        });
    </script> 
    </text>   
}
