@{  
    Layout = "~/_SiteLayout.cshtml";
    WebForm.Run(this);
}

@functions {
    string msg = "";
    void button_click()
    {
        msg = "Hello Web Forms";
    }
}

<h2>@msg</h2>
<form method="post" action="">
    <button id="button" value="test" 
            data-runat="server">Run Server Side Event</button>
</form>

<script type="text/javascript">

    $(function () {

        $('*[data-runat="server"]').click(function (e) {
            e.preventDefault();
            var form = $(this).closest('form');
            var es = $(this).attr('id');
            var et = $(this).attr('data-server-event');

            form.append($('<input/>').attr('type', 'hidden').attr('name', '__event_source').val(es))
                .append($('<input/>').attr('type', 'hidden').attr('name', '__event_target').val(et))
                .submit();

            $(this).attr('disabled', 'disabled');
        });
    });

</script>


