@{
    Page.Title = "Setup your site";
    Layout = "_SetupLayout.cshtml";
}

@section head {
    
}
<p>Use this form to setup the basic information about your site.</p>
<form method="post" action="">
    <fieldset>
        <legend>Setup Form</legend>
        <ol>
            <li>@Html2.TextAndLabel("Site Name", "Name", Page)</li>
            <li>@Html2.TextAndLabel("Author",    "Author", Page)</li>
            <li>@Html2.TextAndLabel("Template",  "Template", Page)</li>
        </ol>
        <p class="form-actions">
            <input type="submit" value="Save" />
        </p>
    </fieldset>
</form>