body
{
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
}

a:link, a:visited
{
    color: #ad1a37;
    text-decoration: none;
}

a:hover
{
    color: #ad1a37;
    text-decoration: underline;
}

/* HEADINGS   
----------------------------------------------------------*/
h1
{
    float: left;
    font-weight: bold;
    line-height: 2em;
    font-size: 22px; 
    text-shadow: 1px 1px 2px #111;
    margin-top:-10px;
    margin-left:40px;
    color: #fff;
    background-color:#ad1a37;
    padding:20px 40px;
}
h2
{
    font-size: 1.5em;
    color: #ad1a37;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 20px;
}
h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
#toprow
{
    background-color:#ad1a37;
    height:20px;
    font-size:12px;
}
#page
{
    background-color:#fff;
}
#header
{
    margin-top:-10px;
}
#content
{   
    padding-top:10px;
    min-height:530px;    
}
#footer
{
    font-size: .9em;
    height:30px;
    padding-top:15px;
    background-color:#eee;
}

/* Login Display  
----------------------------------------------------------*/
#login
{
    text-align: right;
}

#login li
{
    margin: 0;
    display: inline;
    list-style: none;
    padding-right: 20px;
}
#login a
{
    color:#fff;
}

/* Menu   
----------------------------------------------------------*/
ul#menu
{
    position: relative;
    margin-top: 15px;
    margin-left: 300px;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li a
{
    padding: 4px 20px;
    text-decoration: none;
    line-height: 2.8em;
    color: #666; /*CSS3 properties*/
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: underline;
}

ul#menu li a:active
{
    /*background-color: #ad1a37;*/
    text-decoration: none;
    color: #fff;
}

ul#menu li.selected a
{
    /*background-color: #ad1a37;*/
    /*color: #fff;*/
    font-weight: bold;        
}

/* forms   
----------------------------------------------------------*/
fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset legend
{
    font-size: 1.1em;
    font-weight: bold;
    padding: 2px 4px 8px 4px;
}

fieldset ol
{
    padding: 0;
    list-style: none;
}

fieldset ol li
{
    padding-bottom: 5px;
}

fieldset label
{
    display: block;
}

fieldset label.checkbox
{
    display: inline;
}

fieldset input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 300px;
}

fieldset input[type="submit"]
{
    font-size: 1.2em;
    padding: 5px;
}

/* Information and errors  
----------------------------------------------------------*/
.message
{
    clear: both;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 15px; /*CSS3 properties*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
}

.info
{
    background: #bde5f8;
    color: #00529b;
}

.error
{
    background: #ffe4e4;
    color: #be3e16;
}

.success
{
    background: #dff2bf;
    color: #4f8a10;
}

input[type="text"].error-field, input[type="password"].error-field
{
    border: solid 1px #be3e16;
    background-color: #ffe4e4;
}
#color-block1
{
    height:300px;
    background-color:#eee;
    border-radius: 4px;
    margin-left:20px;
}
#color-block2
{
    /*width:910px;*/
    height:300px;
    background-color:#ad1a37;
    border-radius: 4px;
    margin-left:20px;
    color:White;
}

#main
{
    padding:20px;
}
aside
{
    padding:20px;
}
footer
{
    margin-left:30px;
 
}