@{  
    var homepage = SiteEngine.RunHook("get_homepage") as string;
    if (!homepage.IsEmpty())
    {
        Server.TransferRequest(homepage);
    }  
}
<p style="font: 18px/24px Arial">It looks like that the <a href="http://rabbit.codeplex.com">Rabbit</a> Pages module is disabled. Please <a href="rabbit-setup.cshtml">click here</a> to enable it.<br />
Or replace Default.cshtml with your own.</p>