@{
    var zones = SiteEngine.RunHook("get_homepage_zones", "") as string;
}
<article>
    @Html.Raw(Page.Content)
</article>

@foreach (dynamic zone in zones.Split(','))
{ 
<div class="@zone">
@Site.RenderPagePart(this, zone, Page)
</div>
}



