@if (Page.Model.List != null)
{ 
    <ul>
    @foreach (var page in Page.Model.List)
    {
        <li>
            <div><a href="/Pages/@page.Id">@page.Title</a></div>
            <div>@Html.Raw(@Page.Content)</div>
        </li>
    }
    </ul>
}