@* https://github.com/tuupola/jquery_jeditable *@
<script src="@Href("~/PagesExt/jquery.jeditable.mini.js")" type="text/javascript"></script>

<style type="text/css">
    .editable
    {
        border: 1px dotted #ffaaaa;
    }
    .editable:hover
    {
        border: 1px solid red;
    }    
</style>

<div class="message" id="msg"></div>

<article>
    <div class="article-title"><header><h2>@Page.Title</h2></header></div>
    <div class="article-content editable">@Html.Raw(Page.Content)</div>
</article>

<script type="text/javascript">
    $(function () {

        //        $(".editable").editable("", {
        //            type: 'textarea',
        //            submit: 'OK',
        //            cancel: 'cancel',
        //            rows: 20

        //        });

        $("#msg").hide();
        var editing = false;

        $('body').click(function (e) {
            if (editing) {
                $(".editable").attr("contenteditable", "false");
                $("#msg").text("stopped editing").fadeIn().delay(1000).fadeOut();
                editing = false;
            }
        });

        $('.editable').click(function (e) {
            e.stopPropagation();
            if (!editing) {
                $(".editable").attr("contenteditable", "true");
                $("#msg").text("starting editing").fadeIn();
                editing = true;
            }
        });
    });
</script>